{
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "es6": true
  },
  "plugins": ["prettier", "eslint-plugin-local-rules"],
  "extends": [
    "airbnb-base",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "consistent-return": 0,
    "import/prefer-default-export": 0,
    "import/no-unresolved": 0,
    "lines-between-class-members": 0,
    "no-plusplus": 0,
    "no-undef": 0,
    "no-console": 0,
    "no-nested-ternary": 0,
    "no-new": 0,
    "no-param-reassign": 0,
    "no-continue": 0,
    // doesn't work nicely with optional chaining on function calls
    "no-unused-expressions": 0,
    // replace no-useless-constructor with typescript-eslint version
    "no-useless-constructor": 0,
    "@typescript-eslint/no-useless-constructor": [2],
    "prettier/prettier": 2,
    "no-use-before-define": 0,
    "@typescript-eslint/no-use-before-define": 2,
    "@typescript-eslint/array-type": 0,
    "@typescript-eslint/indent": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/explicit-member-accessibility": 0,
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "@typescript-eslint/ban-types": 0,

    "local-rules/validate-calculate-damage": ["error"]
  },
  "overrides": [
    {
      "files": "*.spec.ts",
      // tests are allowed to use "any" for mocks
      "rules": { "@typescript-eslint/no-explicit-any" : 0 }
    }
  ],
}
